{{!-- pages/index.hbs --}}

{{#> layouts/base title="You Seem Lost" }}

	{{#*inline "main-block"}}
              
		<div align="left">

			<p>You seem lost. You probably want to go <a href="/">here</a>.</p>

		</div>

	{{/inline}}

{{/layouts/base}}
