{{!-- pages/index.hbs --}}

{{#> layouts/base title="Karel the Robot Home Page" }}

	{{#*inline "head-block"}}

		<meta http-equiv="REFRESH" content="0;url=/karel/">

	{{/inline}}

	{{#*inline "main-block"}}

		<p>Please wait...</p>

	{{/inline}}

{{/layouts/base}}
